:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #eee;
    --pink: #ec4899;
    --purple: #8b5cf6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;

}


html, body {
    /* display: flex; */
    /* flex-direction: column; */
    min-height: 100vh; 
    /* 為什麼要下這個高度？ */
    background-color: var(--dark);
    color: #fff;
}

.header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}


#new_task_form {
    display: flex;
}

input, button {
    appearance: none;
    /* 這個還沒搞懂 */
    border: none;
    outline: none;
    background: none;
}

#new_task_input {
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new_task_input:placeholder {
    color: var(--gray);
}

#new_task_submit {
    color: var(--pink);
    font-size: 1.25rem;
    background-image: linear-gradient(to right, var(--pink
    ), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new_task_submit:hover {
    opacity: 0.8;
}

#new_task_submit:active {
    opacity: 0.6;
}

.main {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task_list {
    padding: 1rem;
}

.task_list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

/* 一個任務 */
#tasks .task { 
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    /* flex: 1 1 0%; */
    flex-grow: 1;
    /* 佔據剩下的所有面積 */
    flex-shrink: 1;
    /* 如果需要收縮就收縮 */
    flex-basis: 0%;
    /* 初始的大小是 0% */
}

#tasks .task .content .text {
    color:var(--light);
    font-size: 1.125rem;
    width: 100%;  
    display: block;
    transition: 0.4s;
}

/* 一般狀態下唯讀，進入編輯狀態才可編輯且文字內容為粉色 */

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

#tasks .task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

#tasks .task .actions button:hover {
    opacity: 0.8;
}

#tasks .task .actions button:active {
    opacity: 0.6;
}

#tasks .task .actions .edit {
    background-image: linear-gradient(to right, var(--pink
    ), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tasks .task .actions .delete {
    color: crimson;
}